body {
    background-color: #FFEFD5;
}

.main{
    height:90%;
    width: 90%;
    position: absolute;
    margin-left: 4.35%;
    margin-top: 1.35%;
    background-color: #FF4500;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-size: 30px;
    color: #FFEFD5;
}
.option{
    background-color:#FFEFD5;
    height:90%; 
}
.top{
    font-size: 2rem;
    padding: 3% 0 5% 2rem;
}
.bot{
    height: 100%;
    font-size: 5rem;
}
.mid{display:inline;}
.left{
    background-image: url("customer-background.jpg");
    display: inline-block;
    height:100%;
    width:50%;
    border-radius: 1px;
    opacity: 0.9;
}
.right{
    background-image: url("employee-background.jpg");
    display: inline-block;
    height:100%;
    width:50%;
    border-radius: 1px;
    opacity: 0.9;
}
a:hover{
    color:antiquewhite;
}
.customer{
    margin-top: 30%;
    text-align: center;
}
.employee{
    margin-top: 30%;
    text-align: center;
}

a{
    text-decoration:none;
    color: #FF4500;
}
